rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function currentData() {
      return resource.data;
    }

    function sentData() {
      return request.resource.data;
    }

    function uid() {
      return request.auth.uid;
    }

    function isLoggedIn() {
      return request.auth != null;
    }

    // ********************
    //        User
    // ********************
    match /users/{userId} {
      // 自分のドキュメントであれば許可
      allow get: if isMyUserDoc(userId);

      // 自分のドキュメントであれば許可
      allow update: if isMyUserDoc(userId);

      function isMyUserDoc(userId) {
        return isLoggedIn() && userId == request.auth.uid;
      }
    }

    // ********************
    //       Playroom
    // ********************
    match /playrooms/{playroomId} {
      // ログインしていれば許可
      allow get: if isLoggedIn();

      // ログインしていれば許可
      allow create: if isLoggedIn();

      // 部屋が開いている && 管理者である && ID に変更がなければ許可
      allow update: if isOpen()
        && isAdmin()
        && isSameRoomId();

      function isAdmin() {
        return isLoggedIn() && currentData().adminPlayerId == uid();
      }

      function isSameRoomId() {
        return currentData().id == sentData().id;
      }

      function isOpen() {
        return !currentData().isClosed;
      }

      // ********************
      //       Player
      // ********************
      match /players/{playerId} {
        // ログインしていれば許可
        allow get: if isLoggedIn() && belongsTo(playroomId);

        // ログインしていれば許可
        allow list: if isLoggedIn() && belongsTo(playroomId);

        // ログインしている && 所属している部屋であれば許可
        allow create: if isLoggedIn() && belongsTo(playroomId);

        // ログインしている && 自分のドキュメントであれば許可
        allow update: if isMyPlayerDoc(playerId);

        allow delete: if isMyPlayerDoc(playerId);

        function isMyPlayerDoc(playerId) {
          return isLoggedIn() && playerId == uid();
        }

        function belongsTo(playroomId) {
          return get(/databases/$(database)/documents/users/$(uid())).data.currentPlayroom == playroomId;
        }
      }
    }
  }
}
